/* ------------------------ */
/* modal back */
/* ------------------------ */
/* 背景 */
.glayLayer {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #636b6f;
    opacity: 0.35;
}

/* acct-top */
div.mAcctTopNew {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* submitボタン */
div.newBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

div.detailBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* ------------------------ */
/* input Nomal/income */
/* ------------------------ */
#modalMsg {
    z-index: 2;
    position: fixed;

    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -180px;
    background-color: #e6ecf0;
    height: 140px;
    width: 360px;
    padding: 40px 0px;
    border-radius: 10px;
    text-align: center;

    font-weight: bold;
}
