/* edit app.css */
.btn-info {
    color: #fff;
}

/* button design */
.btn-orange {
    color: #fff;
    background-color: #eb6100;
    border-bottom: 5px solid #b84c00;
}

.btn-orange:hover {
    margin-top: 3px;
    color: #fff;
    background: #f56500;
    border-bottom: 2px solid #b84c00;
}

.btn-shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.btn-sticky {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #668ad8; /*左線*/
    color: #668ad8; /*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.btn-sticky:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}

/* app.cssの上書き */
.page-item.active .page-link {
    z-index: 0;
    color: #fff;
    background-color: #3490dc;
    border-color: #3490dc;
  }
